# Anthropic API Configuration
# If you have your own subscription it just need to be able to use the Claude Haiku model.
ANTHROPIC_API_KEY=<I CAN PROVIDE AN API KEY FOR TESTING>

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=1
